* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #23252C;
}

.profileimage {
  height: 317px;
}

.container {
  background-color: #23252C;
  display: inline-block;
  justify-content: center;
}

main {
  width: 550px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.maincard {
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #1A1B21;
  padding: 2px 4px;
}

.maincardtext {
  padding-top: 2px;
  margin-bottom: 26px;
  line-height: 0.01;
}

.buttonbar {
  display: flex;
  width: 550px;
  align-items: center;
  justify-content: center;
  background-color: #1A1B21;
}

#titlepresentation {
  color: #F3BF99;
}

.bodytext {
  width: 550px;
  background-color: #1A1B21;
  color: white;
  padding-top: 10px;
  line-height: 1;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 34px;
}

.abouttitle {
  padding: 0%;
  margin-top: 1px;
  margin: 0px;
}

.footer {
  width: 550px;
  background: #161619;
}

.grid-item1 {
  display: inline-flex;
  padding-right: 49px;
  padding-left: 139px;
  padding-top: 19px;
  padding-bottom: 20px;
}

.grid-item2 {
  display: inline-flex;
  padding-right: 49px;
  padding-top: 19px;
  padding-bottom: 20px;
}

.grid-item3 {
  display: inline-flex;
  padding-right: 49px;
  padding-top: 19px;
  padding-bottom: 20px;
}
.grid-item4 {
  display: inline-flex;
  padding-right: 49px;
  padding-top: 19px;
  padding-bottom: 20px;
}